.header {
    max-width: 80%;
    margin: 0 auto;

    box-sizing: border-box;
    padding: 8px 24px;
    height: 64px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.header a {
    color: #333;
}

.header a:hover {
    color: #333;
    opacity: 0.7;
}

.header .logo {
    height: 80%;
    width: 180px;
}

.header .logo img {
    height: 100%;
}

.header .left {
    margin-left: 12px;
    width: 440px;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.header .left > * {
    margin-right: 18px;
}

.header .right {
    margin-left: auto;
    height: 100%;
    width: 240px;
}
