.layout {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.sider {
    position: absolute;
    display: flex;
    top: 0px;
    height: 100vh;
}

.headbar {
    position: relative;
    z-index: 9999;
}

.main {
    width: 100%;
    height: 100vh;
    margin-left: 240px;
    overflow: auto;
}

.loading {
    width: 100%;
    height: 100%;
    padding-bottom: 16%;

    display: flex;
    justify-content: center;
    align-items: center;
}