.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #1c1c1c;
}

.brand {
    padding: 24px;
    color: white;
}

.brand h2 {
    margin: 0px;
}

.listtem {
    color: #ccc;
    padding: 12px 24px;

    width: 100%;
    display: inline-block;
}

.listtem:hover {
    opacity: 0.7;
}

.active {
    background-color: #2b2b2b;
}