.bunnypage {
    width: 80%;
    margin: 0px auto;
    padding: 24px;
}

.back {
    display: inline-block;
    font-size: 20px;
    font-weight: 450;
    padding: 4px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.back:hover {
    background-color: #ccc;
}

.detail {
    padding: 24px 0px;
}